@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    background-image: url("/images/meshgrad.png");
  }
}

.clock {
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

@keyframes fly {
  0% {
    transform: translate(50vw, 50vh);
    opacity: 0.3;
  }
  25% {
    transform: translate(0vw, 0vh);
    opacity: 0.3;
  }
  50% {
    transform: translate(-50vw, 50vh);
    opacity: 0.3;
  }
  75% {
    transform: translate(0vw, 90vh);
    opacity: 0.3;
  }
  100% {
    transform: translate(50vw, 50vh);
    opacity: 0.3;
  }
}
@keyframes fly2 {
  0% {
    transform: translate(0vw, 100vh);
    opacity: 0.5;
  }
  25% {
    transform: translate(30vw, 0vh);
    opacity: 0.5;
  }
  50% {
    transform: translate(50vw, 50vh);
    opacity: 0.5;
  }
  75% {
    transform: translate(30vw, 90vh);
    opacity: 0.5;
  }
  100% {
    transform: translate(0vw, 110vh);
    opacity: 0.5;
  }
}
@keyframes fly3 {
  0% {
    transform: translate(-40vw, 100vh);

    opacity: 0.5;
  }
  25% {
    transform: translate(-20vw, -10vh) rotate(800deg);
    opacity: 0.5;
    scale: 150%;
  }
  50% {
    transform: translate(0vw, 80vh) rotate(1600deg);
    opacity: 0.5;
  }
  75% {
    transform: translate(23vw, 0vh) rotate(2400deg);
    opacity: 0.5;
  }
  100% {
    transform: translate(45vw, 110vh) rotate(1440deg);
    opacity: 0.5;
    scale: 100%;
  }
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0.5;
  }
}
